<%= form_for thing do |f| %>
  <div class="entity-field">
    <%= f.label :name %><%= f.text_field :name %>
  </div>
  <div class="entity-field">
    <%= f.label :category %>
    <%= f.select :category, Hash[Thing.categories.keys.collect { |x| [x.capitalize, x] }] %>
  </div>
  <% locations = thing_instances_for_selection(@locations, allow_nil: true) %>
  <%= editor_for_each 'Instances', f, :instances,
    { space_times: space_times, locations: locations } %>
  <div class="entity-form-actions">
    <%= f.submit %>
    <% if thing.new_record? %>
      <%= link_to 'Cancel', things_path %>
    <% else %>
      <%= link_to 'Cancel', thing_path %>
    <% end %>
  </div>
<% end %>
