<h2>Time Point</h2>
<%= link_to 'Edit', edit_time_point_path(@time_point) %>

<div class="entity-field">
  <label>SpaceTime</label>
  <span class="entity-field-value"><%= @time_point.space_time.name %></span>
</div>
<div class="entity-field">
  <label>Description</label>
  <span class="entity-field-value"><%= @time_point.description %></span>
</div>
<div class="entity-field">
  <% if @time_point.previous.nil? %>
    <label></label>
    <span class="entity-field-value">Start of timeline</span>
  <% else %>
    <label>Previous</label>
    <span class="entity-field-value"><%= link_to @time_point.previous.description, @time_point.previous %></span>
  <% end %>
</div>
<div class="entity-field">
  <% if @time_point.next.nil? %>
    <label></label>
    <span class="entity-field-value">End of timeline</span>
  <% else %>
    <label>Next</label>
    <span class="entity-field-value"><%= link_to @time_point.next.description, @time_point.next %></span>
  <% end %>
</div>
