<div id="mainTimelineMapView" class="timeline-map-view dynamic-control" data-control-type="timeline-map-view">
  <canvas class="timeline-map-canvas timeline-map-timeline-layer"></canvas>
  <canvas class="timeline-map-canvas timeline-map-label-layer"></canvas>
</div>
<script>
  window.Mapstuck.data['mainTimelineMapView'] = {
    events: <%= raw @events.active_model_serializer.new(@events).to_json %>,
    spaceTimes: <%= raw @space_times.active_model_serializer.new(@space_times).to_json %>,
    things: <%= raw @things.active_model_serializer.new(@things).to_json %>,
    timelines: <%= raw @timelines.active_model_serializer.new(@timelines).to_json %>,
    timelinePoints: <%= raw @timeline_points.active_model_serializer.new(@timeline_points).to_json %>
  };
</script>
