<!DOCTYPE html>
<html>
<head>
  <title>HsMap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>
    Homestuck Maps > <%= link_to 'Editor', edit_map_path %>
    <% if not @breadcrumbs.nil? %>
      <% @breadcrumbs.each do |crumb| %>
        &gt; <%= link_to crumb[:text], crumb[:path] %>
      <% end %>
    <% end %>
  </h1>
<%= yield %>

</body>
</html>
