<!DOCTYPE html>
<html>
<head>
  <title>HsMap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>
      <%= link_to 'Homestuck Maps', '/' %> &gt; <%= link_to 'Editor', edit_map_path %>
      <% if not @breadcrumbs.nil? %>
        <% @breadcrumbs.each do |crumb| %>
          &gt; <%= link_to crumb[:text], crumb[:path] %>
        <% end %>
      <% end %>
    </h1>
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <div class="popover-container">
    <%= content_for :popovers %>
  </div>
</body>
</html>
